html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*width: 100%;*/
  font-family: 'arcadeclassicregular';
  color: orange;
}

a {
  display: inline-block;
  color: white;
  margin-top: .5em;
}

body {
  background-color: black;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
}

.main-container {
  position: relative;
  margin-left: -220px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.canvas-container {
  display: inline;
  position: relative;
  height: 100%;
}

.text-box {
  font-size: 1.5em;
  width: fit-content;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}
  .title-text {
    text-decoration: underline;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: .7em;
  }
  .credits {
    display: inline-block;
    margin-top: .5em;
    font-size: .8em;
  }

#background-canvas {
  position: relative;
}

#mute-control {
  display: inline-block;
  cursor: pointer;
  padding: .5em;
  margin-top: .5em;
}
